.home-page {
  padding: 25px 0;
  height: 100%;

  .comments-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .comments {
      max-height: 300px;
      overflow-y: auto;
      .ps__rail-y {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }

      .ps__thumb-y {
        background-color: red;
        border-radius: 4px;
      }
    }
  }
}
