.comment-card {
  position: relative;
  max-width: 250px;
  background-color: #ab9418;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  height: 50px;
  margin: 20px auto;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.4s ease;
  
  .user-block {
    top: -10px;
    left: -14px;
    display: flex;
    align-items: center;
    position: relative;
    height: 20px;
    font-size: 8px;
    .user-initials {
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 100%;
      background-color: rgb(227, 173, 12);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .user-name {
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70%;
      width: 50px;
      background-color: rgb(227, 173, 12);
      text-align: center;
      transform: translateX(-3px);
    }
  }

  .button-container {
    position: absolute;
    right: -5px;
    top: -5px;
  }

  .delete-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: wheat;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      width: 60%;
      height: 1px;
      background-color: black;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover {
      &::before,
      &::after {
        background-color: red;
      }
    }
  }

  .comment-text {
    font-size: 8px;
  }
}

.comment-card.appear {
  opacity: 1;
}
.comment-card.disappear {
  opacity: 0;
}
